@font-face {
    font-family: "TwitterChirp";
    src: url('https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2');
}

html {
    background-color: black;
}

body {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container_main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 18vh;
    height: 60%;
    width: 140vh;

}

.container_left {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60%;
    height: 100%;
    width: 50%;
}



.container_right {
    position: absolute;
    display: block;
    margin-top: -10vh;
    margin-left: 50%;
    height: 60%;
    width: 35%;
}

.logo {
    width: 30vh;
    height: 30vh;
    margin: auto;
}

.slogan {
    color: white;
    font-size: 65px;
    width: 100%;
    margin-top: -3vh;
    font-family: "TwitterChirp";
}

.katıl {
    margin-top: 5vh;
    color: white;
    font-family: "TwitterChirp";
    font-size: 32px;
}

form {
    display: block;
    width: 65%;
    height: 40vh;
}

button {
    background-color: white;
    border: white;
    border-radius: 30px;
    width: 90%;
    height: 40px;
}

.veya {
    color: white;
}

.tos { 
    color: white;
}

.ac_question {
    color: white;
    font-family: "TwitterChirp";
    font-size: 14px;
}

.google {
    margin-bottom: 10px;
}

.apple {

}